.DashboardCard {
    margin: 2rem 2rem 25rem 2rem;
    padding: 2rem;
    flex-basis: 32%;
}
.DashboardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.StudentList {
    padding: 1rem;
    list-style-type: none;
    font-family: 'Kalam', cursive;
}
StudentsList>* {
    display: inline;
    padding-top: 0.5rem;
}
.DateInputRow {
    display: flex;
    flex-direction: row;
}
.DateInputRow>* {
    margin-right: 3px;
    margin-left: 3px;
}