.DashboardWrapper {
    display: flex;
    justify-content: center;
}

.DashboardCard {
    margin: 2rem;
    padding: 2rem;
    flex-basis: 32%;
}
.DashboardColumn {
    display: flex;
    flex-direction: column;
}
.StudentList {
    padding: 1rem;
    list-style-type: none;
    font-family: 'Kalam', cursive;
}
StudentsList>* {
    display: inline;
    padding-top: 0.5rem;
}
.DateInputRow {
    display: flex;
    flex-direction: row;
}
.DateInputRow>* {
    margin-right: 3px;
    margin-left: 3px;
}