.ListItem {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-family: 'Kalam', cursive;
    display: flex !important;
    justify-content: space-between;
}
.ListItemChildren {
    margin: 1rem;
}
.ListItemButtons {

}
.SkillsList {
    list-style-type: none;
    text-align: left;
    font-size: 1rem;
}
.SkillsListTitle {
    text-decoration: underline;
}